body {
    padding:20px;
}

.headers {
    width:500px;
    box-sizing:border-box;
}

.header {
    background:white;
    float:left;
    transition: all 0.5s ease;
    cursor:pointer;
    padding:10px;
    font-size:14px;
}
.header.active {
    background:red;
    color:white;
}
.headers:after {
    content:'';
    display:table;
    clear:both;
}

.tab {
    border:1px solid black;
    padding:20px;
    display:none;
}

.tab.active {
    display:block;
}