body {
    padding:20px;
    font-family:Roboto;
}
.container {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
}
.btn {
    top:99px;
    font-size:40px;
    color:#327bc7
}
.slide {
    background-color:silver;
    width:100%;
    padding:20px;
    display:none;
}
.slide.active {
    display:block
}
.name {
    margin-top:10px;
}